<h3>Add new exercise</h3>
<form #f="ngForm">
    <div class="form-group mb-3">
        <div class="col-sm-4">
            <label class="form-label" for="name">Name:</label>
            <div class="input-group">
                <input class="form-control" id="name" name="name" #name="ngModel" [(ngModel)]="ex.name" required minlength="2">
                
                <button class="btn btn-success" [attr.disabled]='name?.valid ? null : true' (click)="onSubmit()">Add</button>
                <span *ngIf="name?.touched && name?.errors?.['required']">Name is required</span>
                <span *ngIf="name?.touched && name?.errors?.['minlength']">Name requires min 2 characters</span>
            </div>

            

        </div>
    </div>



</form>
<h3>All exercises list:</h3>
<div *ngFor="let e of allExercises">
    <span style="margin-right: 15px;"><b>{{e.id}}. </b>{{e.name}}</span>
    <button class="btn btn-secondary btn-sm">Modify</button><button class="btn btn-danger btn-sm" (click)="DeleteExercise(e.id)">Delete</button>
</div>


<!-- <pre>Valid? {{f.form.controls['name']?.valid}}</pre>
<pre>Dirty? {{f.form.controls['name']?.dirty}}</pre>
<pre>Touched? {{f.form.controls['name']?.touched}}</pre> -->

