
<mat-calendar [dateClass]="dateClass"
(selectedChange)="onSelect($event)"
[startAt]="selectedTrainingLog.date"
></mat-calendar>
<div class="row mb-3 mt-3">
  <strong>{{selectedDay | date:'fullDate'}}</strong>
</div>
<div class="row">
  <div class="col-md-4" *ngFor="let log of selectedTrainingDayLogs">
    <div class="card bg-light mb-4">
      <div class="card-header">
        <h6 class="card-title d-flex justify-content-between">
          <div>
            {{ log.training.name }}
          </div>
          <div>
            {{ log.date | date: 'shortTime' }}
          </div>
           </h6>
           <div>Duration: {{log.duration | convertTime}}</div>
      </div>
      <div>
              
        <ul class="list-group " *ngFor="let exercise of log.training.trainingSetExercise" >
        <li class="list-group-item">
         <span><strong>{{ exercise.exercise.name }}</strong></span>
          <ul class="list-group list-group-flush" *ngFor="let set of exercise.trainingSets; let i = index" >
            <li class="list-group-item d-flex justify-content-between">
              <div>
                set: {{i + 1}}
              </div>
              <div>
                {{ set.reps }} x {{ set.weight }}kg
              </div>
               </li>
          </ul>
        </li>  

        </ul>
        
      </div>
    </div>
  </div>
</div>
 
