<nav class="navbar d-lg navbar-light bg-light justify-content-between">
    <a class="navbar-brand" href="#">GymAssistant</a> 
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="my-trainings">Trainings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="training-log">Log</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="all-exercises">Exercise</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="all-exercises">Settings</a>
        </li>
      </ul>
  </nav>
  <nav class="navbar d-mobile navbar-light bg-light justify-content-between">
      <ul class="navbar-nav nav-pills nav-fill">
        <li routerLink="my-trainings" class="nav-item">
            
          <a class="nav-link" routerLinkActive="active-nav-li">
            <fa-icon class="nav-icons" [icon]="faDumbbell"></fa-icon>
            <div>
                Trainings
            </div></a>
        </li>
        <li routerLink="training-log" class="nav-item">
            
          <a class="nav-link" routerLinkActive="active-nav-li">
            <fa-icon class="nav-icons" [icon]="faBook"></fa-icon>
            <div>
                Log
            </div>
        </a>
        </li>
        </ul >
        <!-- <a class="navbar-brand" href="#">GA</a>  -->
        <ul class="navbar-nav">
        <li routerLink="all-exercises" class="nav-item" >
          
          <a class="nav-link" routerLinkActive="active-nav-li" ><fa-icon class="nav-icons" [icon]="faShapes"></fa-icon>
            <div>
                Exercise
            </div>
            </a>
        </li>
        <li routerLink="settings" class="nav-items">           
                <a class="nav-link" routerLinkActive="active-nav-li">
                    <fa-icon class="nav-icons" [icon]="faGear" ></fa-icon>
                    <div>
                        Settings
                    </div></a>
          
        </li>
      </ul>
  </nav>
<div class="container">
    <router-outlet></router-outlet>
</div>
