    <form [formGroup]="form">
    {{showTimer}}
    <div class="row justify-content-center">
        <div class="col-sm-12 col-lg-6 col-md-7">
            <div class="card bg-light">
            <div class="card-header d-flex justify-content-between" formgGroup="">
                <div>
                    <span>{{form.get('name')?.value}}</span>
                </div>             
              <div>
              </div>
            </div>
            <div>
                <div id="exercise{{j}}" *ngFor="let trEx of trainingSetExerciseArr.controls; let j = index;" class="list-group list-group-flush mb-2" formArrayName="trainingSetExercise">
                   
                    <ng-container  formGroupName = {{j}}>
                        <div  class="list-group-item bg-primary text-white">
                            <span>{{trainingSetExerciseArr.controls[j].get('exercise')?.value['name']}}</span> 
                           <input hidden readonly formControlName="exercise" value="{{trainingSetExerciseArr.controls[j].get('exercise.name')?.value['name']}}">
                    </div>
                    <div>
                        <span #showCountSets{{j}} id="showCountSets{{j}}">Completed sets: 0/{{getTrainingSetArr(j).controls.length}}</span>
                        
                        <button class="btn btn-danger" (click)="deleteExercise(j)">-</button>
                    </div>

<div *ngFor="let s of getTrainingSetArr(j).controls; let i = index;" formArrayName="trainingSets">
                <div class="list-group-item">
                    <div id="setRow{{j}}-{{i}}" class="row" formGroupName="{{i}}">
                        <div class="col-1">
                            <label class="">{{i+1}}</label>
                        </div>
                        <div class="col-1">                            
                            <div class="ml-2">
                            <input id="chkDone{{j}}-{{i}}" (change)="setComplete(j, i)" class="form-check-input chkDone{{j}}" type="checkbox">
                        </div></div>
                        <div class="col">
                            <div class="input-group">                            
                                 <input formControlName="weight" value="" type="text" class="form-control"  id="weightInput">
                                <label name="weightInput"  class="input-group-text" for="weightInput">kg</label>
                            </div>
                        </div>
                        <div class="col">                        
                            <div class="input-group">
                            <select formControlName="reps" id="repsSelect" class="form-select">
                                <option *ngFor="let v of repsDropDown" [ngValue]="v">
                                    {{v}}
                                </option>
                            </select>
                            
                            <label class="input-group-text" for="repsSelect">reps</label>
                        </div>
                    </div>
                    <div class="col-1">
                        <button class="btn btn-danger" (click)="deleteSet(j, i)">-</button>
                    </div>
                    </div>
    
    
                </div>

                </div>
            </ng-container>
            <div class="col-2 offset-5">
                <div class="form-group">
                    <button (click)="addSet(j)" class="btn btn-sm btn-success form-control">+</button>
                </div>
                
            </div>
            </div>     
            </div>           
          </div>
          <button class="btn btn-success"
          data-bs-toggle="modal" data-bs-target="#selectExercise">add exercise</button>
        </div>


          
    </div>
    <div class="row mt-3">
        <div mt-10 *ngIf="isSuccessMsgEdit" class="alert alert-success" role="alert">
            Training has been updated succesfully!
          </div>
          <div *ngIf="isErrorMsg" class="alert alert-danger" role="alert">
            An error occured!
          </div>
    </div>
    <div class="row">
        <div class="col-2 offset-10">
            <div *ngIf="!isActive; else elseBlock">
                <button type="submit"
                class="btn btn-primary" (click)="onSubmit()">save</button>
            </div>
            <ng-template #elseBlock>
                <div>
                    <button type="submit"
                    class="btn btn-primary" (click)="onSubmit()">complete training</button>
                </div>
            </ng-template>
            <div></div>
            
        </div>
        
    </div>
    <div class="modal fade" #modalExercise id="selectExercise"  tabindex="-1" aria-labelledby="selectExercu=iseLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="trainingFormlLabel">Please select exercise: </h5>
        </div>
        <div class="modal-body">
            <select
             #selectedExercise id="exerciseSelect" class="form-select">
                <option *ngFor="let v of exercises" [value]="v.id">
                    {{v.name}}
                </option>
            </select>
          </div>
                    <div class="modal-footer">
                    <button (click)="addExercise(selectedExercise.value)" data-bs-dismiss="modal" class="btn btn-success">select</button>
                      </div>
                    </div>
                  </div>
                </div>
  </form>
