<div class="row">
    <div class="col-2">
        <button #submitBtn type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#trainingForm0">
            Add new training
          </button>
        <app-training-form [training]="training"></app-training-form>
    </div>

      
</div>
<div *ngFor="let r of trainingsRows" class="row gy-2 mt-2">
    <div *ngFor="let t of r" class="col-lg-4 col-md-6 col-sm-1">
        <div  class="card bg-light " style="width: 18rem;">
            <div class="card-header d-flex justify-content-between">
                <div>
                    {{t.name}}
                </div>
              
              <div>
                <button style="border:none;" type="button" data-bs-toggle="modal" attr.data-bs-target="#trainingForm{{t.id}}">
                  <fa-icon class="m-2 text-primary" [icon]="faPen"></fa-icon>
                  <app-training-form [training]="t"></app-training-form>
                </button>                
                <button style="border:none;"  type="button" data-bs-toggle="modal" attr.data-bs-target="#deletePopUp{{t.id}}">
                  <fa-icon class="text-danger" [icon]="faTrash"></fa-icon>
                </button>
                <app-delete-pop-up [training]="t" (isConfirmed)="onDelete($event)"></app-delete-pop-up>

              </div>

            </div>
            <ul *ngFor="let index of [0,1,2,3,4]" class="list-group list-group-flush">
              <li *ngIf="t.trainingSet[index] != null"  class="list-group-item">
                <div class="d-flex justify-content-between">
                  <div>
                    {{t.trainingSet[index].exercise.name}}
                  </div>
                  <div>
                    {{t.trainingSet[index].reps}}x{{t.trainingSet[index].sets}}
                  </div> 
                </div>

            </li>
            </ul>
            <div *ngIf="t.trainingSet.length > 3" class="card-footer bg-transparent border-success align-self-end">
                    <button class="btn btn-sm btn-link ml-auto" >+ expand</button>
</div>

          </div>
    </div>

</div>



